<div>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 text-center">
                    <h1>Tomas Trečiokas</h1>
                    <p>Specializuota Blockly kalba "Drools" įrankiui</p>
                    <p>Įrankis skirtas sukurti Drools taisykles ir jas testuoti</p>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>
