/* You can add global styles to this file, and also import other style files */

@import '~@ctrl/ngx-emoji-mart/picker';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 15px;
}

.material-icons {
	display: block;
	top: 0;
	left: 0;
	right: 0;
}
